body {
    background: rgb(82,84,57);
    background: linear-gradient(90deg, rgba(82,84,57,1) 0%, rgba(170,164,145,1) 24%, rgba(117,109,81,1) 85%);
}

header{
    background: rgb(17,112,8);
    background: linear-gradient(90deg, rgba(17,112,8,1) 65%, rgba(21,167,31,1) 80%);    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100vw;
    /*Superposicion de elementos*/
    z-index: 1;
}

.barra_nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding: 10px 10px 10px 10px;
}

.tiendavitual {
    margin-top: 150px;
    margin-bottom: 20px;
}

.btn_categorias{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

button {
    width: 150px; 
    height: auto; 
    padding: 15px px ; 
    background-color: green; 
    border: none; 
    border-radius: 5px; 
    color: white; 
    font-size: 18px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    cursor: pointer; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 5px;
}

.main {
    flex: 1;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
}

aside{
    flex: 1;
    min-height: max-content;
    max-width: 250px;
    min-height: 100vh;
    background-color: rgb(53, 53, 53);
    margin-right: 20px;
    padding: 10px;
    /*box-shadow: 2px 0 5px 0*/
}

.moda{
    max-width: 400px;
    justify-content: center;
    background-color: whitesmoke;
    color: black;
    margin-top: 20px;
}

aside a {
    text-decoration: none;
}

.ropa {
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    max-width: 500px;
}

.mensajes{
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 20px;
    background-color: white;
    width: 300px;
    min-height: 100px;
    bottom: 0px;
    padding: 10px;
    margin: 0px;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.caja_mensajes{
    justify-content: flex-start;
    flex-direction: row;
    align-content: space-around;
    background-color: rgb(23, 32, 23);
    border-radius: 7px;
    color: white;
    position: relative;
}

.mensajes img {
    border-radius: 5px;
}

footer{
    position: relative;
    background: rgb(17,112,8);
    background: linear-gradient(90deg, rgba(17,112,8,1) 65%, rgba(21,167,31,1) 80%);    color: white;    justify-content: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}


footer button {
    padding: 10px 20px;
    background-color:  rgb(7, 9, 134); 
    color: white; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

footer a {
    text-decoration: none;

}

table{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 100px;
}

textarea{
    min-width: 200px;
    width: 100%;
    height: 200px;
    resize: none;
}

.tablaproductos{
    margin-top: 200px;
}

