@{
    ViewData["Title"] = "Sucursales";
}

<h1>Sucursales</h1>

<div class="input-group">
    <input id="txtNombre" onkeyup="filtrarSucursal()" type="text" class="form-control" placeholder="Ingrese una sucursal"/>
</div>

<div id="divTabla">

</div>

<script src="~/js/generic.js"></script>
<script src="/js/sucursales.js"></script>


