* {
    margin: 0;
}

body {
    background-image: url(../images/fondo.webp);
    background-size:cover;
    width: 100%;
    height: 100%;
}

header {
    background-color: blue;
}

header h1 {
    color: white;
    padding: 20px;
    margin-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navegador {
    background-color: #1e88e5;
    padding: 10px;
    display: flex;
    gap: 30px;
}

.navegador a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 70px;
}

.main-container {
    display: flex;

}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-top: 2%;
    background-color: white;
    width: 700px;
    height: auto;
    border-radius: 3px;
    gap: 10px;
}

.item {
    width: auto;
    height: auto;
    text-align: justify;
    margin: 2px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px; 
}

.item-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.container img {
    background-color: white;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px ;
    padding: 2px;
    margin: 2px;
}

.date {
    font-size: 18px;
    background-color: #1e88e5;
    color: white;
    border-radius: 5px;
    position: relative;
    top: -0px;
    left: -70px;
    width: 80px;
    height: 80px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aside {
    background-color: white;
    width: 250px;
    height: 80px;
    border-radius: 3px;
    margin: 15px;
    margin-top: 30px;
    padding: 1%;
}

.aside li {
    list-style: none    ;
    text-decoration: none;
    margin-top: 10px;
}

footer {
    padding: 2% ;
    margin-top: 150px;
    background-color: blue;
    height: auto;
    text-align: center;
    font-size: 18px;
    color: #ffff;
}
